body{

    background:url(infrastructure.jpeg) no-repeat ;
    height: 150vh;
       background-size:cover;
       background-position: center;
   }

h1{
    background-color: rgb(136, 60, 180);
    font-weight: 100;
    font-family:'Algerian';
    padding-left: 400px;
}
.infraH2{
    font-family: 'Mongolian Baiti';
}
hr{
    color: black;
}